@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    @apply max-w-3xl mx-auto;
}

a {
    @apply underline underline-offset-1 decoration-2 decoration-sky-500;
}

.bg-secondary {
    @apply bg-gray-50 dark:bg-gray-800;
}

.text-secondary {
    @apply text-gray-800 dark:text-gray-100;
}

.post {
    @apply prose dark:prose-invert prose-lg prose-a:underline prose-a:underline-offset-1 prose-a:decoration-2 prose-a:decoration-sky-500 prose-pre:bg-gray-700 dark:prose-pre:bg-gray-800;
}

.post pre {
    @apply m-0 p-0 rounded-lg;
}

.post pre pre {
    @apply bg-gray-800 text-gray-50 p-4 text-base !important;
}

code {
    font-family: "JetBrains Mono", monospace !important;
}

code:not(pre code) {
    @apply bg-secondary px-1.5 py-0.5 rounded-md;
}
