@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,600;1,300;1,600&family=Inter:wght@400;600&display=swap");

:root {
    /* Nord color palette (https://www.nordtheme.com) */
    --bg-primary: #2e3440;
    --bg-secondary: #3b4252;
    --bg-tertiary: #434c5e;
    --bg-quaternary: #4c566a;
    --fg-primary: #eceff4;
    --fg-secondary: #e5e9f0;
    --fg-tertiary: #d8dee9;
    --fg-link: #bed3e9;
}

body {
    margin: 0 auto;
    padding: 1em;
    max-width: 1024px;

    background-color: var(--bg-primary);
    color: var(--fg-primary);

    font-family: Inter, sans-serif;
    font-size: 14pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.625;
}

h1,
h2,
h3 {
    margin: 1em 0 0;

    font-weight: bold;
    line-height: 1.25;
}

h1 {
    text-align: center;
    font-size: 24pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 16pt;
}

a {
    color: var(--fg-link);
    text-decoration: underline solid var(--bg-tertiary);
    text-underline-position: from-font;
    text-underline-offset: 1pt;
}

a:hover {
    text-decoration-color: var(--bg-quaternary);
}

li {
    margin: 0.5em 0;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;

    border-left: 1pt solid var(--bg-quaternary);
    border-width: 3pt;
}

code {
    font-family: "JetBrains Mono", monospace;
}

pre,
:not(pre) > code {
    background-color: var(--bg-secondary);
}

:not(pre) > code {
    padding: 0 0.25em;

    border-radius: 0.25em;
}

pre {
    overflow-x: scroll;

    padding: 1em;

    border-radius: 0.5em;
}

hr {
    width: 1.75em;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header .title {
    font-weight: bold;
}

.header .links {
    display: flex;
    gap: 0.75em;
}

.footer {
    margin: 2em 0;
}

.footer p {
    margin: 0;

    text-align: center;
    line-height: 1.25;
}
