.header .profile-photo {
    border-radius: 50%;
    height: 120px;
    margin-top: 40px;
}

.header h1 {
    margin-bottom: 0;
}

.header p {
    font-size: 16pt;
    color: #ebebf599;
    margin-bottom: 40px;
}

.app-card {
    margin: 18px 0;
    padding: 20px;
    background-color: #2c2c2e;
    border-radius: 20px;
}

.app-card .title img {
    height: 48px;
    margin-right: 12px;
    vertical-align: top;
}

.app-card .title span {
    display: inline-block;
    font-size: 18pt;
    font-weight: bold;
    margin-top: 0.25em;
}

.app-card .description {
    margin-bottom: 0.5em;
    color: #ebebf5b8;
}
