.post-title {
    font-size: 36pt;
    margin-bottom: 0;
}

.post-date {
    margin-top: 0;
    font-size: 16pt;
    color: #ebebf599;
}

/* Markdown */

.post-content blockquote {
    color: #ebebf599;
    border-left: 2px solid #ebebf544;
    margin-left: 12px;
    padding-left: 14px;
}

.post-content blockquote * {
    padding: 8px 0;
}
