<!DOCTYPE html>

<html>
    <head>
        {{{ components.head }}}
    </head>

    <body>
        {{{ components.navbar }}}

        <div class="content">
            <div class="header">
                <img class="profile-photo" src="https://0.gravatar.com/avatar/1a55ce5c75a3f6759a6ecd47e99f7aac?s=120">

                <h1>Hi, I’m Wilson Gramer 👋</h1>

                <p>I’m a student developer who is passionate about learning and creating new things. Currently working at <a href="https://mk-dir.com">Make Directory</a>. Check out what I’ve been working on:</p>
            </div>

            <div class="app-card">
                <div class="title">
                    <img src="/images/superhomework.png" alt="SuperHomework logo">
                    <span>SuperHomework</span>
                </div>

                <p class="description">
                    Automatically organize your homework — just sign in with your school accounts and SuperHomework automatically fetches the latest assignments for you. With reminder notifications and widgets, you’ll never forget your homework again. Written in Swift and Go.
                </p>

                <a href="https://superhomeworkapp.com">Website</a>
            </div>

            <div class="app-card">
                <div class="title">
                    <img src="/images/retailbox.png" alt="RetailBox logo">
                    <span>RetailBox</span>
                </div>

                <p class="description">
                    Home to over 120 high-quality screen savers from places around the world. Use RetailBox to showcase your device for content creation, in stores and more. New videos are added every month. Written in Swift, Node.js and Go.
                </p>

                <a href="https://softwarenetwork.co/retailbox">Website</a>
            </div>

            <div class="app-card">
                <div class="title">
                    <img src="/images/wipple.png" alt="Wipple logo">
                    <span>Wipple</span>
                </div>

                <p class="description">
                    Dynamic, functional programming language inspired by Lisp and Ruby. Wipple has an expression-based syntax that also supports imperative code, features operators and macros, and has a package manager. I’m building Wipple to learn how programming languages work. Written in Swift and Wipple itself.
                </p>

                <a href="https://github.com/wipplelang/wipple">GitHub</a>
            </div>

            <div class="app-card">
                <div class="title">
                    <img src="/images/robotics.png" alt="Robotics logo">
                    <span>Robotics</span>
                </div>

                <p class="description">
                    I’m a programmer on our high school robotics team, which participates in <a href="https://www.kipr.org/botball">Botball</a> every year. I built Botball for Python, a Python library that makes it faster and easier to develop for the robots.
                </p>

                <a href="https://github.com/tyngsboroughrobotics/game">GitHub</a>
            </div>

            <div class="app-card">
                <div class="title">
                    <span>AppleWelcomeScreen</span>
                </div>

                <p class="description">
                    A super-simple way to create an onboarding experience similar to the ones used in builtin iOS apps. Just provide a configuration and AppleWelcomeScreen takes care of the rest. Written in Swift.
                </p>

                <a href="https://github.com/WilsonGramer/AppleWelcomeScreen">GitHub</a>
            </div>

            <div class="app-card">
                <div class="title">
                    <span>AppIconGenerator</span>
                </div>

                <p class="description">
                    Tool to generate an iOS configuration profile containing web clips for app icons. It can be used to test a new app icon directly on your home screen, or to spam your friends’ devices with fake apps :). Written in HTML/CSS/JS.
                </p>

                <a href="https://wilsongramer.github.io/AppIconGenerator">Website</a>
            </div>

            <div class="app-card">
                <div class="title">
                    <span>WonderfulTheme</span>
                </div>

                <p class="description">
                    My code theme for Xcode and JetBrains IDEs. Similar to Atom One Dark but a bit more muted. Designed to be easy on the eyes.
                </p>

                <a href="https://github.com/WilsonGramer/WonderfulTheme">GitHub</a>
            </div>
        </div>
    </body>

    {{{ components.footer }}}
</html>
