<!DOCTYPE html>

<html>
    <head>
        {{{ components.head }}}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/atom-one-dark.min.css">
    </head>

    <body>
        {{{ components.navbar }}}

        <div class="content">
            <h1 class="post-title">{{ post.title }}</h1>

            <p class="post-date">{{ post.date }}</p>

            <div class="post-content">
                {{{ post.content }}}
            </div>
        </div>

        {{{ components.footer }}}
    </body>
</html>
