---
layout: page
projects:
    - image: /images/wipple.svg
      title: Wipple
      description: A programming language designed to be natural to read, write and learn.
      linkTitle: Learn Wipple
      link: https://wipple.gramer.dev
    - image: /images/superhomework.png
      title: SuperHomework
      description: Automatically organize your homework across all of your classes.
      linkTitle: View on App Store
      link: https://superhomeworkapp.com
---

<section class="p-4">
    <div class="w-full mx-auto text-center">
        <img
            src="{{ profile }}"
            alt="Wilson Gramer"
            class="w-20 rounded-full mx-auto"
        />

        <h1 class="text-3xl font-medium my-4 text-primary">
            Hi, I’m Wilson Gramer
        </h1>

        <p class="text-xl text-secondary">
            I’m a passionate student and developer studying computer science at
            <a href="https://wpi.edu">WPI</a>. I also work on mobile app
            development at <a href="https://mk-dir.com">Make Directory</a>.
            Check out what I’ve been building recently:
        </p>
    </div>

    <div class="grid md:grid-cols-2 gap-4 mt-8">
        {% for project in projects %}
        <div class="flex flex-col gap-3.5 bg-secondary p-3.5 rounded-xl">
            <img
                src="{{ project.image }}"
                alt="{{ project.title }}"
                class="w-10 h-10"
            />

            <div class="flex-grow">
                <p class="font-semibold mb-1 text-primary">
                    {{ project.title }}
                </p>
                <p class="text-secondary">{{ project.description }}</p>
            </div>

            <a class="text-primary" href="{{ project.link }}">
                {{ project.linkTitle }} ↗
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<section id="blog" class="mt-8 p-4">
    <div class="p-4 w-full mx-auto text-center">
        <p class="text-xl text-secondary">
            I also write about programming on my blog:
        </p>
    </div>

    <div class="grid md:grid-cols-3 gap-4 mt-8">
        {% for post in collections.posts | reverse %}
        <div class="flex flex-col h-full gap-3.5 bg-secondary p-3.5 rounded-xl">
            <p class="font-semibold text-primary">
                {{ post.data.title }}
                <br />
                <span class="font-semibold text-xs text-secondary">
                    {{ post.date | postDate }}
                </span>
            </p>

            <p class="flex-grow text-secondary">{{ post.data.description }}</p>

            <a class="text-primary" href="{{ post.data.page.url }}">Read ↗</a>
        </div>
        {% endfor %}
    </div>
</section>
