---
links:
    - title: Home
      url: /
    - title: Blog
      url: /#blog
    - title: GitHub
      url: https://github.com/WilsonGramer
    - title: Twitter
      url: https://twitter.com/WilsonGramer
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            {{ title + " — Wilson Gramer" if title else "Wilson Gramer" }}
        </title>

        <link rel="icon" href="{{ profile }}" />

        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="stylesheet" href="/styles/prism.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,400&display=swap"
        />
    </head>
    <body>
        <div class="flex align-center justify-between p-5">
            <div class="flex gap-5">
                {% for link in links %}
                <a class="no-underline text-primary" href="{{ link.url }}">
                    {{ link.title }}
                </a>
                {% endfor %}
            </div>
        </div>

        <main>{{ content | safe }}</main>

        <div class="my-8 text-xs text-secondary text-center">
            © {% year %} Wilson Gramer
        </div>
    </body>
</html>
